//@import "../node_modules/bootstrap/scss/bootstrap";

$image_url: '/img/nature.jpg';
$text-color: white;

@mixin background-it($path) {
  background-image: url($image_url);
  $text-color: white;
}

.custom {
  @include background-it($image_url)
}

.app-appear {
  opacity: 0.01;
}
.app-enter {
  opacity: 0.01;
}


app-appear-active{
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
